<?xml version="1.0"?>
<config>
    <modules>
        <Folio3_Overdue>
            <version>1.0.0</version>
        </Folio3_Overdue>
    </modules>
    <global>
        <models>
            <folio3_overdue>
                <class>Folio3_Overdue_Model</class>
            </folio3_overdue>
            <paypal>
                <rewrite>
                    <express>Folio3_Overdue_Model_Paypal_Express</express>
                </rewrite>
            </paypal>
            <sales>
                <rewrite>
                    <order_payment>Folio3_Overdue_Model_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <folio3_overdue>
                <class>Folio3_Overdue_Block</class>
            </folio3_overdue>
            <customer>
                <rewrite>
                    <account_navigation>Folio3_Overdue_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <folio3_overdue>
                <class>Folio3_Overdue_Helper</class>
            </folio3_overdue>
        </helpers>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Folio3_Overdue before="Mage_Customer">Folio3_Overdue</Folio3_Overdue>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <folio3_overdue>
                    <file>folio3_overdue.xml</file>
                </folio3_overdue>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <Overdue>
                                            <title>Overdue Payments</title>
                                        </Overdue>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>